# Banco de Dados
DB_HOST=seu_host
DB_PORT=seu_port
DB_NAME=seu_nome
DB_USER=seu_user
DB_PASSWORD=sua_senha

# Servidor
PORT=seu_port
NODE_ENV=development

#JWT
ACCESS_TOKEN_SECRET=seu_segredo_aqui_123456
REFRESH_TOKEN_SECRET=outra_string_diferente_e_muito_segura
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d