@font-face {
    font-family: Codec;
    src: url(fonts/codec-pro.regular.ttf);
}

body{
    background-color: #F8F7F2;

    margin: 0;

    overflow-x: hidden;
}


header{
    height: 90px;
    width: 100%;
    display: flex;
    gap: 100px;
}
.header-nav{
    display: flex;

}