@font-face {
    font-family: Codec;
    src: url(fonts/codec-pro.regular.ttf);
}

body{
    background-color: #F8F7F2;

    margin: 0;
}

a{
    font-style: normal !important;
    text-decoration: none !important;
}

nav{
    display: flex;
    width: auto;
    height: 100px;

    background-color: rgba(127, 255, 212, 0);

    align-items: center;
}

ul{
    display: flex;

    column-gap: 50px;

    list-style: none;

    font-family: Codec;

    margin-bottom: 0px !important;
}

li a{
    text-decoration: none;
    font-style: none;

    font-size: 14pt;

    color: #707070;
}

.logo{
    display: flex;

    width: 170px;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);

    align-items: center;
    justify-content: center;

    margin-left: 40px;
}

.logo img{
    width: 70%;
    height: 80%;
}

.navigation{
    display: flex;

    height: 60px;

    justify-content: center;
    align-items: center;

    background-color: rgba(245, 245, 220, 0);

    margin-left: auto;
    margin-right: 80px;

    column-gap: 50px;
}

.login-btn{
    display: flex;
    width: 130px;
    height: 50px;

    background-color: #2F6D88;

    color: #F8F7F2;

    font-family: Codec;
    font-size: 13pt;

    justify-content: center;
    align-items: center;

    padding: 20px !important;

    border-radius: 10px;
}

.login-btn a{
    color: #F8F7F2;
}