@font-face {
    font-family: Codec;
    src: url(../fonts/codec-pro.regular.ttf);
}

body{
    background-color: #f8f7f2;

    margin: 0;
    overflow-x: hidden;
}

main{
    background-color: #f8f7f2;
    width: 100%;
    height: auto;
}



/*header*/
header{
    backdrop-filter: blur(14px);
    width: 100dvw;
    z-index: 999;
    position: fixed;
    
    
}
a {
    font-style: normal !important;
    text-decoration: none !important;
}

nav {
    display: flex;
    width: auto;
    height: 100px;

    background-color: hsla(50, 30%, 96%, 0.384);

    align-items: center;
}

ul {
    display: flex;

    column-gap: 50px;

    list-style: none;

    font-family: Codec;

    margin-bottom: 0px !important;
}

li a {
    text-decoration: none;
    font-style: none;
    font-family: Codec;
    font-size: 14pt;

    color: #707070;
}

.logo {
    display: flex;

    width: 170px;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
    
    align-items: center;
    justify-content: center;

    margin-left: 40px;
}

.logo img {
    width: 70%;
    height: 80%;
}

.navigation {
    height: auto;

    flex-grow: 0 !important;
    align-items: center;

    background-color: rgba(245, 245, 220, 0);

    margin-left: auto !important;
    margin-right: 80px;

    column-gap: 50px;
}


/*tamanho fontes*/
h1 {
    font-family: Codec;
}

h2 {
    color: #a6a6a6 !important;
    font-family: Codec;
    font-size: 18pt !important;
}

h3 {
    color: #a6a6a6 !important;
    font-family: Codec !important;
    font-size: 10pt !important;
}


/*main*/
.container{
    gap: 200px;
    width: 100dvw;
    height: 100dvh;
    display: flex;
}

.img-phone{
    width: 700px !important;
    height: 700px !important;
}
.img-phone img{
    border-radius: 20px;
    width: 100%;
    height: 100%;

}

.container-right{
    align-items: center;
    margin-top: 5%;
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.headset{
    margin-left: auto;
    margin-right: auto;
    width: 60px !important;
    height: 60px !important;
}
.headset img{
    width: 100%;
    height: 100%;
}

.texto1{
text-align: center;
}

.texto2{
    text-align: center;
}

.SAC{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 380px;
    height: 280px;
    border: #70707091 solid 2px;
}

.title-SAC{
 text-align: center;   
}
.btn-email{
    width: 330px;
    height: 70px;
 padding: 20px;
 gap:20px;
 display: flex;
 border: 1px solid #a6a6a6; 
 border-radius: 10px;
 text-align: center;
 background-color: #2f6d88;
}
.btn-email img{
    width: 45px;
}
.btn-email p{
    font-family: CODEC;
    color: white;
    margin-top: 15px;
    cursor: text;
}

/*button phone*/
.btn-phone{
width: 330px;
height: 70px;
 padding: 20px;
 gap:20px;
 display: flex;
 border: 1px solid #a6a6a6; 
 border-radius: 10px;
 text-align: center;
 background-color: #2f6d88;
}

.btn-phone p{
    font-family: CODEC;
    color: white;
    margin-top: 15px;
    cursor: text;  
}

.btn-phone img{
    width: 45px;
}

.copiar{
    background-color: #2f6d88;
    border: 0px  none;
    color: white;
    cursor: pointer !important;
    user-select: none; /* Impede seleção do texto */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    
}
textarea:focus, input:focus, select:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*FAQ*/
.container-FAQ{
    
    max-width: 800px;
    margin: 0 auto;
    padding: 20px
    border-radius: 20px;
}
.border-d{
    width: 100%;
    height: 100%;
    border: 2px solid #ffff;
    border-bottom: 0px;
    border-radius: 20px;
}
.faq-item{
    background-color: #ffff;
    overflow: hidden;
    border-bottom: 2px solid #2f6d88;
    margin-bottom: 15px;
    border-radius: 20px;
}
.faq-question{
    background-color: #ffff;
    padding: 20px;
    cursor:pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: 600;
    font-family: Codec;
}

.arrow{
    transition: transform 0.3 ease;
    font-size: 14px;
}

.faq-question.active .arrow{
    transform: rotate(180deg)
}
.faq-answer {
    
    background-color: #ffff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 20px;
}

.faq-answer.show {
    background-color: #ffff;
    max-height: 500px;
    padding: 20px;
}