@font-face {
    font-family: Codec;
    src: url(../fonts/codec-pro.regular.ttf);
}

::selection {
  background: #2f6d888e; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #2f6d888e; /* Gecko Browsers */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 7px; /* largura da scrollbar */
}

/* Parte de trás (trilho) */
::-webkit-scrollbar-track {
  background: #F8F7F2;
  border-radius: 10px;
}

/* Parte que se move (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #2F6D88;
  border-radius: 10px;
  border: 10px solid #e0e0e000; /* cria um "gap" visual */
}

/* Quando o usuário passa o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #357ab8;
}


html{
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: #F8F7F2;

    margin: 0;

    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;
    background-color: #F8F7F2;
}

.rowr{
    display: flex;
    width: 100dvw;
    height: auto;

    background-color: #F8F7F2;

    align-items: center;
    justify-content: center;

    column-gap: 20px;
}

main .hr-custom{
    margin: auto !important;
    width: 85%;
    border: #70707088 solid 2px !important;

    margin-top: 80px !important;
}

header{

    backdrop-filter: blur(7px);
    width: 100dvw;
    z-index: 999;
    position: fixed;
}

a{
    text-decoration: none !important;
    font-style: none !important;
}

.main-content-1 {
    /* display: flex; */

    width: auto;
    height: auto;
    background-color: #F8F7F2;
}

@media (max-width: 1368px){
    .main-block-1 img{
        display: none !important;
    }

    .rowr{
        margin-top: 70px !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;

        row-gap: 50px;
    }

    .main-block-2{
        width: 55% !important;
        height: auto !important;
    }

    .login-block{
        width: 100% !important;
    }

    input{
        padding: 15px !important;
    }

}

@media (max-width: 800px){
    .text-login-block h1{
        font-size: 39pt !important;
        line-height: 45px !important;
    }
}

@media (max-width: 768px) {
    .rowr{
        flex-wrap: nowrap !important;
    }

    .plans-content{
        width: auto !important;
        height: auto !important;
        flex-direction: column;

        row-gap: 30px;
    }

    .section-block-img-1-steps img{
        width: 100% !important;
    }

    .section-block-img-1-steps{
        margin-right: 0px !important;
    }

    .main-block-2{
        width: 60% !important;
    }

    .main-block-1{
        display: block !important;
        width: 80% !important;
    }

    .text-login-block h1{
        width: auto !important;
        height: 140px;
    }
}

@media (max-width: 734px) {
    .about-content{
        display: flex;
        height: auto;
        width: auto;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .section-block-1{
        width: 100% !important;
        height: 350px !important;
        justify-content: center !important;
    }

    .section-block-2{
        width: 80% !important;
        height: auto !important;
    }

    .section-block-content-2{
        width: 100% !important;
        height: auto !important;
    }

    .section-block-content-2 a{
        width: auto !important;
        height: auto !important;
    }

    .section-block-img-1{
        margin-right: 0 !important;
    }

}

@media (max-width: 622px) {
    .remember-forgot{
        flex-direction: column;

        justify-content: start !important;
        align-items: start !important;
    }

    .forgot{
        margin: 0 !important;
    }
}

@media (max-width: 568px){
    .text-login-block{
        display: none !important;
    }
}

@media (max-width: 472px){
    .login-block{
        width: 90% !important;
    }
    .navbar-toggler{
        display: none;
    }
    .logo{
        margin-left: 1px !important;
    }
    .login-btn{
        margin-right: 20px;
    }
}

@media (max-width: 510px){
    .section-block-content-2{
        text-align: center !important;
    }

    .textwSvg{
        display: flex;
        justify-content: center;
    }

    .section-block-content-2 a{
        display: flex;
        justify-content: center;
    }

    .section-block-img-2{
        margin-right: 0px !important;
    }

    .plans-content{
        padding: 20px;
    }

    .plan1-content{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 347px){
    .login-btn{
        display: none !important;
    }

    .navbar{
        justify-content: center !important;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        justify-content: center !important;
    }

    .container-fluid{
        width: auto !important;
    }

    .selection-modal{
        display: flex;
        flex-direction: column !important;

        gap: 0px !important;
    }

    .modal-body h3{
        margin-bottom: 6px !important;
    }

    .plans-options{
        justify-content: center;
        align-items: center;
        flex-direction: column !important;

        row-gap: 15px;
    }
}


    .slot-btn{
        height: 50px
        
        
}

@media (max-width: 335px){
    .modal-footer{
        flex-direction: column-reverse !important;
    }
    .login-block-enter{
        width: 80% !important;
    }
    #btnNone{
        display: none;
    }
}



nav {
    display: flex;
    width: auto;
    height: 100px;

    background-color: hsla(50, 30%, 96%, 0.384);

    align-items: center;
}



ul {
    display: flex;

    column-gap: 50px;

    list-style: none;

    font-family: Codec;

    margin-bottom: 0px !important;
}

li a {
    text-decoration: none;
    font-style: none;

    font-size: 14pt;

    color: #707070;
}

.logo {
    display: flex;

    width: 170px;
    height: 73px;
    background-color: rgba(0, 255, 255, 0);

    align-items: center;
    justify-content: center;

    margin-left: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navigation {
    height: auto;

    flex-grow: 0 !important;
    align-items: center;

    background-color: rgba(245, 245, 220, 0);

    margin-left: auto !important;
    margin-right: 80px;

    column-gap: 50px;
}

.login-btn {
    display: flex;
    width: 130px;
    height: 50px;

    background-color: #2F6D88;

    color: #F8F7F2;

    font-family: Codec;
    font-size: 13pt;

    justify-content: center;
    align-items: center;

    padding: 20px !important;

    border-radius: 10px;

    cursor: pointer;
}

.login-btn:hover{
    transform: scale(1.006);
}

.login-btn a {
    color: #F8F7F2;
}

.login-block {
    display: flex;

    flex-direction: column;

    width: 490px;
    height: 65%;
    border: #70707091 solid 2px;
    background-color: #f8f7f200;

    border-radius: 20px;

    justify-content: center;
    align-items: center;

    padding: 20px;

    gap: 15px;
}

.login-block h3{
    margin: 0;
}

.main-block-1 {
    display: flex;
    flex-direction: column;
    width: 60% !important; 

    align-items: center;
    justify-content: center;
}

.main-block-1 img{
    display: flex;
    align-self: flex-end;
    margin-right: 120px;
}

.main-block-2 {
    display: flex;
    
    width: 40%;
    height: 750px;

    justify-content: start;
    align-items: center;
}

.main-block-2 img {
    height: 100%;
}

h1 {
    font-family: Codec;
}

h2 {
    color: #707070 !important;
    font-family: Codec;
    font-size: 18pt !important;
}

h3 {
    color: #707070 !important;
    font-family: Codec !important;
    font-size: 10pt !important;
}

.text-login-block {
    text-align: start;

    margin-bottom: 30px;
}

.text-login-block h1 {
    width: 700px;
    font-size: 55pt;
    line-height: 60px;
}

.text-login-block h2 {
    width: 540px;
    font-size: 20pt !important;
    line-height: 25px;

    margin-top: 30px;
}

.login-block-enter {

    display: flex;
    width: 90%;
    height: 50px;

    background-color: #2F6D88;

    justify-content: center;
    align-items: center;

    color: #F8F7F2;

    border-radius: 12px;

    font-size: 13pt;
    font-family: Codec;
    font-weight: lighter;
}

.login-block p{

    color: #4d4d4d;
    font-family: Codec;
    font-size: 24.5pt;
    font-weight: lighter;
    margin: 0;
    
}

.login-block hr{
    width: 90%;
    border: #70707088 solid 1px !important;
}

.login-block span{
    color: #2F6D88;
    font-family: Codec;
    font-size: 22pt;
    font-weight: bold;
}

.login-block-text{
    display: flex;
    width: 100%;
    height: auto;

    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;

}

.login-block-text img{
    width: 30px;
    height: 30px;

    opacity: 70%;
}

.login-block-enter:hover{
    transform: scale(1.006);
}

.enter-btn :hover {
    cursor: pointer;
}

input {
    width: 90%;
    height: 12%;

    border-radius: 15px;
    border: #70707079 solid 2px;

    padding: 20px;

    transition: border 0.2s;
}

input:hover{
    border: #2F6D88 solid 2px;
}

input:focus{
    border: #2F6D88 solid 2px;
    outline: #2F6D88 solid 2px;
}

.remember-forgot {
    display: flex;
    width: 87%;

    align-items: center;
}

.remember-forgot a {
    color: #1e80aa;
}

.enter-btn {
    display: flex;
    width: 100% !important;

    align-items: center;
    justify-content: center;
}

.remember label {
    color: #707070;
}

.forgot {
    margin-left: auto;
}

.forgot a {
    color: #1e80aa;
    font-family: Codec;
}

.checkbox {
    width: 10px;
    height: 10px;
}

.img-block-login {
    width: 80%;
    height: auto;

    object-fit: fill;

    border-radius: 20px;

    margin-top: 30px;

    box-shadow: 0 5px 20px rgba(47, 109, 136, 0.37);
    border-color: #2f6d88;
}

.img-block-login img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 20px;
}

section {
    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 100px;
}

.about-content {
    display: flex;
    width: 100dvw;
    height: auto;

    background-color: #2f6d8800;

    border-top: 60px;

    align-items: center;

    margin-top: 50px;
}

.section-block-1 {
    display: flex;
    height: 100%;
    width: 50%;

    background-color: rgba(250, 235, 215, 0);

    justify-content: end;
    align-items: center;
}

.section-block-img-1 {
    width: 65%;
    height: 80%;

    margin-right: 40px;
}

.section-block-1 img {
    width: 100%;
    height: 100%;

    border-radius: 25px;

    object-fit: cover;
}

.section-block-img-2 {
    display: flex;
    width: 65%;
    height: 80%;

    margin-right: 50px;
}

.section-block-img-2 img {
    object-fit: contain;
    width: 100%;
}

.section-block-2 img {
    width: 100%;
    height: 100%;

    border-radius: 25px;

    object-fit: contain;
}

.section-block-2 {
    display: flex;
    height: 100%;
    width: 50%;

    justify-content: start;
    align-items: center;
}

.section-block-content-2 {
    display: flex;
    width: 70%;
    height: auto;

    background-color: #70707000;

    text-align: start;

    flex-direction: column;

    justify-content: center;
}

.section-block-content-2 h1 {
    line-height: 34px;
}

.section-block-content-2 p {
    font-family: Codec;

    font-size: 16pt;
    line-height: 23px;
}

.slot-btn {
    display: flex;
    width: 200px;
    height: 50px;

    background: linear-gradient(199deg, rgba(26, 120, 161, 1) 0%, rgba(95, 154, 217, 1) 100%);
    border-radius: 10px;

    justify-content: center;
    align-items: center;

    color: #F8F7F2;
    font-family: Codec;

    position: relative;
    overflow: hidden;
    
    text-align: center;
}

.slot-btn::before {

    display: flex;
    justify-content: center;
    align-items: center;
    content: "Experimente agora";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(199deg, rgb(142, 188, 248) 0%, rgb(86, 143, 204) 100%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

.slot-btn:hover::before {
    opacity: 1;
    cursor: pointer;
}

.slot-btn span {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plans-content {
    display: flex;
    width: 100dvw;
    height: auto;

    background-color: #2f6d8800;

    border-top: 60px;
    justify-content: center;
    align-items: center;

    column-gap: 20px;

    padding-top: 30px;
    padding-bottom: 80px;
}

.plan1{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;

    border: #a5bac3 3px solid;
    border-radius: 25px;

    background-color: #ffffffff;

    align-items: start;
    text-align: start;

    transition: transform 0.3s;
}

.plan1:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(47, 109, 136, 0.15);
    border-color: #3379a8;
}
.plan2{
    width: 35%;
    height: 90%;

    border: #2F6D88 4px solid;
    border-radius: 25px;

    background-color: #1e80aa;
}

.plan-content{
    display: flex;
    width: 90%;
    border: #7070706c 2px solid;
    border-radius: 20px;

    padding: 20px;
}

.plan1-content{
    padding: 50px;
}

.plan1-content h3{
    font-size: 14pt !important;
}

.plan-a-btn{
    display: flex;
    width: 90%;
    height: 50px;

    border-radius: 15px;

    background-color: #1e80aa;

    justify-content: center;
    align-items: center;

    color: #F8F7F2;
    font-family: Codec;
    font-size: 14pt;

    cursor: pointer;
}

.plan-a-btn-2{
    display: flex;
    width: 90%;
    height: 50px;

    border-radius: 15px;

    background: linear-gradient(199deg, rgba(26, 120, 161, 1) 0%, rgba(95, 154, 217, 1) 100%);

    justify-content: center;
    align-items: center;

    color: #F8F7F2;
    font-family: Codec;
    font-size: 14pt;

    cursor: pointer;
}

.plan-a-btn-2:hover::before {
    opacity: 1;
    cursor: pointer;
}

.plan-a-btn-2 span {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-content ul{
    list-style: circle;
    display: flex;
    flex-direction: column;

    text-align: start;
}

footer{
    width: auto;
    height: auto;
    background-color: #2F6D88;
}

.footer-main{
    padding: 40px;
    height: 100%;
}

.footer-main-content-svg{
    height: auto;
    width: 400px;

    background-color: #70707000;
}

.footer-social-svg{
    display: flex;
    width: auto;
    height: 30px;

    margin-top: 80px !important;
    margin-bottom: 10px;
}

.footer-social-svg ul{
    padding: 0;
    gap: 13px;
}

.footer-social-svg li{
    padding: 0;
    width: 100%;
    height: 100%;
}

.footer-social-svg img{
    width: 100%;
    height: 100%;

    filter: invert();

    opacity: 50%;
}

.footer-social-svg img:hover{
    opacity: 100%;
}

.authors{
    color: white;
    opacity: 50%;
}

/* Modal */

.radio-modal{
    width: auto;
}

.selection-modal{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: 30px;
}

.select-radio{
    display: flex;

    align-items: center;
    column-gap: 10px;
}

.register-modal{
    display: flex;
    flex-direction: column;

    row-gap: 10px;

    margin-bottom: 10px;
    align-items: center;
}

/*principal */

.navbar-search{
    width: auto;
    padding: 30px;

    margin-left: auto;
}

.search{
    width: 100% !important;
    height: 12% !important;

    border-radius: 15px;
    border: #70707079 solid 2px;

    padding: 20px !important;
}

.search-content{
    display: flex;
    height: 100%;

}

.search-content img{
    width: 100%;
    height: 100%;
}

.modal-body{
    text-align: center;
}

.section-block-1-steps{
    display: flex;
    height: 400px;
    width: 100%;

    background-color: rgba(250, 235, 215, 0);

    justify-content: center;
    align-items: center;
}

.section-block-img-1-steps {
    width: 85%;
    height: 100%;

    margin-right: 40px;
}

.section-block-img-1-steps img {
    width: 55%;
    height: 100%;
}

.section-steps{
    height: auto;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.about h1{
    transition: transform 0.2s;
}

.about h1:hover{
    transform: scale(1.05);
}

.about-steps{
    display: flex;
    height: auto;

    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-content-steps{
    display: flex;
    width: 100dvw;
    height: auto;

    background-color: #2f6d8800;

    border-top: 60px;
}

.plans-content-options{
    padding: 15px;
    background-color: #2F6D88;

    border-radius: 10px;
}

hr{
    margin: 0.7rem 0 !important;
    border: 2px #4e646d solid !important;
    border-radius: 100px !important;
}

#logo-animation {
    transition: opacity 0.2s ease-in-out;
}

.passtip{
    display: none;
    width: 80%;
    background-color: #70707000;
    height: auto;

    border-radius: 15px;
    border: 2px solid #70707080;

    text-align: start;

    padding: 20px;
}

.passtip h3{
    font-size: 13pt !important;
}

.passtip ul{
    display: flex;
    flex-direction: column;

    list-style: circle;
    padding-left: 15px;
}

.textwSvg{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    column-gap: 10px;

    flex-wrap: wrap;
}

.textwSvg img{
    width: 30px;
    border-radius: 0px;
}

.plans-options{
    display: flex;
    width: auto;
    justify-content: center;
    column-gap: 20px;

    margin-top: 20px;
}

.plans-options button:hover{
    background-color: #21576e
}

.plans-options-active{
    width: 120px;
    border: none;
    padding: 10px;

    color: white;
    font-family: Codec;
    border-radius: 10px;

    transition: background-color 0.2s;
    background-color: #357AB8;
}

.plans-options-disable{
    width: 120px;
    border: none;
    padding: 10px;

    color: white;
    font-family: Codec;
    border-radius: 10px;

    transition: background-color 0.2s;
    background-color: #2F6D88;
}

#plansInd{
    display: block;
}

#plansEmp{
    display: none;
}

.about-steps-text{
    width: 84%;
}